.MyApp {
    background-color: rgb(221, 160, 221);
    padding-inline: 50px;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
  }
  .button-container {
    margin: 1.5rem;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: #e478c9;
  }